html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css' type='text/css')
  body
    img(src='https://cncf-branding.netlify.app/img/projects/kubernetes/horizontal/color/kubernetes-horizontal-color.png' width='600px')
    p= pod
    p= namespace 
    p= nodeName 
    p= podIP
    p= appVersion
    div.testing